In [11]:
import pandas as pd

In [12]:
raw_data = pd.read_csv("data/AAPL-1Min.txt", parse_dates = [['Date', 'Time']])

In [13]:
work_data = pd.DataFrame(raw_data).set_index('Date_Time')
work_data.to_pickle('AAPL-1Min.pickle')

In [14]:
work_data.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [15]:
work_data

                       Open    High     Low   Close  Volume
Date_Time
2018-02-12 09:30:00  158.48  158.59  157.51  158.16  843665
2018-02-12 09:31:00  158.13  158.22  157.69  158.04  201829
2018-02-12 09:32:00  158.07  158.47  157.86  158.42  286865
2018-02-12 09:33:00  158.42  158.46  157.68  157.95  305308
2018-02-12 09:34:00  157.91  158.43  157.90  158.35  186188
2018-02-12 09:35:00  158.34  158.74  158.33  158.65  278513
2018-02-12 09:36:00  158.66  158.90  158.32  158.42  285270
2018-02-12 09:37:00  158.43  158.55  158.16  158.24  202258
2018-02-12 09:38:00  158.25  158.50  158.15  158.36  166303
2018-02-12 09:39:00  158.38  158.76  158.38  158.67  183902
2018-02-12 09:40:00  158.68  158.80  158.54  158.64  239816
2018-02-12 09:41:00  158.64  159.05  158.57  158.83  342680
2018-02-12 09:42:00  158.85  159.29  158.85  159.28  225606
2018-02-12 09:43:00  159.27  159.33  159.01  159.09  235483
2018-02-12 09:44:00  159.09  159.40  159.07  159.35  229696
2018-02-12 09:45:00  159.36  159.56  159.32  159.46  263079
2018-02-12 09:46:00  159.45  159.87  159.45  159.77  362363
2018-02-12 09:47:00  159.77  160.15  159.70  160.15  534564
2018-02-12 09:48:00  160.15  160.30  159.66  159.67  378354
2018-02-12 09:49:00  159.67  159.75  159.37  159.38  228878
2018-02-12 09:50:00  159.38  159.55  159.32  159.46  191196
2018-02-12 09:51:00  159.46  159.74  159.45  159.57  185500
2018-02-12 09:52:00  159.56  159.92  159.53  159.90  187035
2018-02-12 09:53:00  159.92  160.15  159.86  160.11  299653
2018-02-12 09:54:00  160.11  160.11  159.59  159.81  216071
2018-02-12 09:55:00  159.82  160.04  159.73  159.78  168988
2018-02-12 09:56:00  159.79  160.07  159.71  160.01  153629
2018-02-12 09:57:00  160.02  160.16  160.00  160.09  183740
2018-02-12 09:58:00  160.09  160.12  159.60  159.73  231864
2018-02-12 09:59:00  159.73  159.84  159.41  159.58  203382
...                     ...     ...     ...     ...     ...
2018-02-16 15:30:00  173.58  173.67  173.56  173.63   57670
2018-02-16 15:31:00  173.63  173.66  173.47  173.56   66178
2018-02-16 15:32:00  173.56  173.63  173.49  173.51   47855
2018-02-16 15:33:00  173.51  173.51  173.33  173.38   75156
2018-02-16 15:34:00  173.37  173.37  173.19  173.27   88942
2018-02-16 15:35:00  173.26  173.27  173.08  173.20   86313
2018-02-16 15:36:00  173.20  173.38  173.20  173.32   80209
2018-02-16 15:37:00  173.32  173.35  173.13  173.14   85070
2018-02-16 15:38:00  173.14  173.19  173.04  173.06   84637
2018-02-16 15:39:00  173.06  173.17  172.96  173.16   77192
2018-02-16 15:40:00  173.16  173.16  173.00  173.02   68646
2018-02-16 15:41:00  173.03  173.10  172.99  173.08   65963
2018-02-16 15:42:00  173.08  173.13  173.00  173.09   71630
2018-02-16 15:43:00  173.08  173.11  172.97  173.09   77398
2018-02-16 15:44:00  173.08  173.08  172.85  172.98  102011
2018-02-16 15:45:00  172.97  173.21  172.94  173.20  143556
2018-02-16 15:46:00  173.19  173.25  173.14  173.19  107891
2018-02-16 15:47:00  173.19  173.23  173.17  173.22   51902
2018-02-16 15:48:00  173.21  173.24  173.12  173.14   90433
2018-02-16 15:49:00  173.14  173.14  173.00  173.02   73453
2018-02-16 15:50:00  173.01  173.03  172.73  172.99  163518
2018-02-16 15:51:00  172.98  172.98  172.89  172.96   87337
2018-02-16 15:52:00  172.96  172.97  172.79  172.81   84002
2018-02-16 15:53:00  172.82  172.85  172.77  172.80   95866
2018-02-16 15:54:00  172.79  172.92  172.78  172.84   83457
2018-02-16 15:55:00  172.84  172.91  172.84  172.87   88124
2018-02-16 15:56:00  172.87  172.91  172.77  172.78  133797
2018-02-16 15:57:00  172.78  172.78  172.60  172.60  206259
2018-02-16 15:58:00  172.61  172.65  172.50  172.57  250694
2018-02-16 15:59:00  172.56  172.60  172.43  172.45  541152

[1950 rows x 5 columns]

In [16]:
ohlc_dict = {'Open':'mean', 'High':'mean', 'Low':'mean', 'Close': 'mean', 'Volume': 'sum'}
hourly_data = work_data.resample('H').apply(ohlc_dict)
daily_data = work_data.resample('D').apply(ohlc_dict)

In [17]:
hourly_report = hourly_data[['Open', 'High', 'Low', 'Close', 'Volume']]
hourly_report.to_pickle('hourly_data.pickle')
hourly_report.describe().to_pickle('hourly_summary.pickle')

In [18]:
daily_report = daily_data[['Open', 'High', 'Low', 'Close', 'Volume']]
daily_report.to_pickle('daily_data.pickle')
daily_report.describe().to_pickle('daily_summary.pickle')

In [19]:
twominutes_data = work_data.resample('2T').apply(ohlc_dict)
threeminutes_data = work_data.resample('3T').apply(ohlc_dict)
fiveminutes_data = work_data.resample('5T').apply(ohlc_dict)
tenminutes_data = work_data.resample('10T').apply(ohlc_dict)

In [20]:
twominutes_data[['Open', 'High', 'Low', 'Close', 'Volume']].to_pickle('AAPL-2Min.pickle')
threeminutes_data[['Open', 'High', 'Low', 'Close', 'Volume']].to_pickle('AAPL-3Min.pickle')
fiveminutes_data[['Open', 'High', 'Low', 'Close', 'Volume']].to_pickle('AAPL-5Min.pickle')
tenminutes_data[['Open', 'High', 'Low', 'Close', 'Volume']].to_pickle('AAPL-10Min.pickle')