In [3]:
import pandas as pd
x = pd.read_csv("/home/satyaki/kraysoft/data_coursera/world_bank.csv")
x.head()

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2017 [YR2017]
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,9843842455.48323,10190529882.4878,12486943505.7381,15936800636.2487,17930239399.8149,20536542736.7297,20046334303.9661,20050189881.6659,19702986340.5494,..
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,..,..,..,..,..,..,...,10701011896.7708,12881352687.7773,12044212903.8168,11926953258.916,12890867538.5302,12319784787.2987,12781029643.5936,13219857459.1009,11390365293.8057,..
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,2723648551.75208,2434776645.73628,2001468867.73344,2703014867.32834,2909351792.58659,3136258896.9233,...,134977087734.008,171000691877.714,137211039898.193,161207268655.392,200013051408.116,209047389309.482,209783503258.224,213983107815.932,164779467703.299,..
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,..,..,..,..,...,520000000,563000000,678000000,576000000,574000000,644000000,639000000,638000000,641000000,..
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,..,..,..,..,..,..,...,4010990966.32904,4001201113.22689,3650083356.48791,3346516556.29139,3427022518.76564,3146151869.45908,3248924588.42273,..,..,..