In [29]:
import pandas as pd
import quandl

In [30]:
API_Key = 'yAaYLTzP5XcW5jQvueqJ'
stock_code = "BSE/BOM500209"

In [31]:
my_data = quandl.get(stock_code, authtoken = API_Key, start_date = "2016-07-01")

In [32]:
my_data.to_pickle('Infosys_LTD.pickle')

In [33]:
infy_data = pd.read_pickle('Infosys_LTD.pickle')

In [34]:
infy_data.head()

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O
Date,,,,,,,,,,,,
2016-07-01,1180.00,1180.55,1170.00,1172.10,1174.48,97337.0,5179.0,1.143199e+08,41841.0,42.99,10.55,-7.90
2016-07-04,1176.00,1194.80,1176.00,1184.25,1186.22,159245.0,5680.0,1.889001e+08,86085.0,54.06,18.80,8.25
2016-07-05,1185.00,1185.50,1171.55,1175.45,1177.11,73198.0,3924.0,8.616222e+07,31913.0,43.60,13.95,-9.55
2016-07-07,1175.45,1175.45,1155.00,1157.20,1160.42,167697.0,9614.0,1.945990e+08,70120.0,41.81,20.45,-18.25
2016-07-08,1177.20,1177.20,1153.20,1158.75,1161.99,1305599.0,4558.0,1.517096e+09,1234536.0,94.56,24.00,-18.45

In [35]:
my_data.to_csv('Infosys_LTD.csv')

In [36]:
infy_data1 = pd.read_csv('Infosys_LTD.csv', index_col = 0)

In [37]:
infy_data1.shape

(363, 12)

In [38]:
infy_data1.head()

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O
Date,,,,,,,,,,,,
2016-07-01,1180.00,1180.55,1170.00,1172.10,1174.48,97337.0,5179.0,1.143199e+08,41841.0,42.99,10.55,-7.90
2016-07-04,1176.00,1194.80,1176.00,1184.25,1186.22,159245.0,5680.0,1.889001e+08,86085.0,54.06,18.80,8.25
2016-07-05,1185.00,1185.50,1171.55,1175.45,1177.11,73198.0,3924.0,8.616222e+07,31913.0,43.60,13.95,-9.55
2016-07-07,1175.45,1175.45,1155.00,1157.20,1160.42,167697.0,9614.0,1.945990e+08,70120.0,41.81,20.45,-18.25
2016-07-08,1177.20,1177.20,1153.20,1158.75,1161.99,1305599.0,4558.0,1.517096e+09,1234536.0,94.56,24.00,-18.45

In [39]:
infy_data.shape, infy_data1.shape

((363, 12), (363, 12))